<div class="link-list-wrapper">
  <ul class="footer-list link-list clearfix">
    <li>
      I loghi e i marchi che compaiono sul sito appartengono ai rispettivi proprietari, a loro volta responsabili dei contenuti sui rispettivi siti.
    </li>
    <li>
      Foto di <a class="d-inline font-weight-semibold" href="https://unsplash.com/@chrisliverani?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" rel="noopener noreferrer" target="_blank">Chris Liverani</a> su <a class="d-inline font-weight-semibold" href="https://unsplash.com/s/photos/chart?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" rel="noopener noreferrer" target="_blank">Unsplash</a>
    </li>
  </ul>
</div>
