<section class="it-hero-wrapper it-dark it-overlay it-hero-small-size it-text-centered">
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper"><img src="{{ site.baseurl }}/assets/images/chris-liverani-dBI_My696Rk-unsplash.jpg" alt="Immagine di sfondo raffigurante un grafico"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-hero-text-wrapper bg-dark">
          <h1>{{ site.data.t.homepage.main-headline[page.lang] }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>
