.card-risorsa {
  .card-title {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1;
  }

  .card-links {
    line-height: 36px;
  }

  .card-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &-img {
      min-width: 64px;
      width: 64px;
      height: 64px;
      object-fit: contain;
      overflow: hidden;
    }
  }

  .card-body {
    z-index: 1;
  }
}

.overlay-panel.overlay-panel-fullheight {
  &.overlay-panel-fullheight_risorsa {
    top: 0;
    height: 100%;
    max-height: 100%;
    display: inline-block;
    opacity: 0;
    transition: opacity .2s;
    background-color: #0c0c0d;
    align-items: normal;
    padding: 24px;
    z-index: 0;

    &.active {
      opacity: 1;
      z-index: 2;
    }

    span {
      display: inline-block;
    }
  }
}

.btn-no-viz {
  background-color: transparent;
  border: 0;
  appearance: none;
}
