.it-hero-wrapper.it-overlay.it-dark .img-responsive-wrapper:after {
  background: rgba(23,50,77,.75);
}
.it-hero-wrapper.it-hero-small-size {
  min-height: initial !important;
}
.it-hero-wrapper .it-hero-text-wrapper {
  @media (min-width: 768px) {
    padding: 64px 10% !important;
  }
  @media (min-width: 992px) {
    padding: 80px 10% 160px !important;
  }
}
