.modal.it-dialog-scrollable .modal-dialog {
  margin: 48px 16px;
  @media (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }
}
.modal.it-dialog-scrollable .modal-dialog .modal-content {
  height: calc(100vh - 96px);
}

.form-check [type=checkbox]+label,
.form-check [type=radio]+label {
  font-size: 14px;
}

