<div class="it-header-slim-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-header-slim-wrapper-content">
          <a href="https://innovazione.gov.it/nasce-la-task-force-italiana-per-l-utilizzo-dei-dati-contro-l-emergenza-covid-19/"
             class="navbar-brand"
             target="_blank"
             rel="noopener noreferrer">Task force<span class="d-none d-md-inline"> italiana per l’utilizzo dei dati contro l’emergenza</span> Covid-19</a>
          {% comment %}<div class="nav-mobile">
            <nav role="navigation" aria-labelledby="top-nav">
              <a class="it-opener d-lg-none" data-toggle="collapse" href="#top-nav-menu" role="button" aria-expanded="false" aria-controls="top-nav-menu">
                <span id="top-nav">Ente appartenenza/Owner</span>
                <svg class="icon">
                  <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                </svg>
              </a>
              <div class="link-list-wrapper collapse" id="top-nav-menu">
                <ul class="link-list">
                  <li><a href="#">Link 1</a></li>
                  <li><a href="#">Link 2</a></li>
                  <li class="d-lg-none"><a href="#">Ente appartenenza/Owner</a></li>
                </ul>
              </div>
            </nav>
          </div>
          {% endcomment %}
          {% comment %}
          <div class="header-slim-right-zone">
            <!-- Language Switch -->
            {% include header/header-lang-switch.html %}
            <!-- Account options -->
            <div class="it-access-top-wrapper">
              <button class="btn btn-primary btn-sm" type="button">Accedi</button>
            </div>
          </div>
          {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</div>
